<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Notificación de Incidencias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/horarios.css') }}">
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas más pequeñas */
            
        }
        .column {
            flex: 0 0 30%; /* Cada columna tomará hasta 30% del contenedor, ajusta según tu diseño */
            margin: 10px; /* Espacio entre las columnas */
        }
        .form-group {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="date"],
        input[type="time"],
        textarea,
        .Table input[type="text"] {
            width: 100%;
            padding: 5px;
            box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
        }
        textarea {
            resize: vertical; /* Permite que el usuario cambie la altura del textarea */
        }
        .hover-effect:hover {
        background-color: red; /* Color rojo al hacer hover */
    }
        .btn-agregar {
            background-color: #4CAF50; /* Verde */
            color: white;
            padding: 10px 20px;
            text-align: center;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
            width: 100%; /* Ajusta el ancho del botón para que coincida con los inputs */
        }
        .btn-agregar:hover {
            background-color: #45a049;
        }
        #boton-hecho:hover {
            background-color: #0b7878;
          
        }
        #boton-hecho {
            background-color: #0b7878;
            margin-top:20px;
        }
        #boton-correo {
            background-color: #4CAF50;
            margin-top: 20px;
        }
        .btn-agregar:hover {
            background-color: #45a049;
        }
        .table-container {
            width: 100%;
            margin-top: 20px;
        }
        .Table {
            width: 100%;
            margin-top: 10px; /* Espacio entre el botón y la tabla */
        }
        .Table td {
            padding: 5px; /* Ajusta el padding de las celdas para alinear con los inputs */
        }
       
    </style>
</head>
<body class="rectangle" data-header-image="{{ url_for('static', filename='img/machiote.png') }}" data-footer-image="{{ url_for('static', filename='img/piedepagina.png') }}">
    
    <div class="inner-rectangle">
        <p class="inner-text">Notificación de Incidencias</p>
    </div>
    <div style="padding: 5px; margin-left: 1%; margin-right: 1%; height: 480px; overflow: auto;">
   
        

     <!-- Contenedor principal -->
     <div class="container">
        <!-- Primera columna (Asunto e Introducción) -->
        <div class="column">
            <div class="form-group">
                <label for="asunto">Asunto:</label>
                <input type="text" id="asunto" name="asunto" required>
            </div>
            <div class="form-group">
                <label style=" margin-left: 1%; margin-right: 1%;" for="correoElectronico">Correo electrónico:</label>
                <input  style="padding: 5px; margin-left: 1%; margin-right: 1%;" type="email" id="correoElectronico" name="correoElectronico" required>
            </div>
        </div>

        <!-- Segunda columna (Nombre del empleado y Descripción final) -->
        <div class="column">
            <div class="form-group">
                <label for="nombreEmpleado">Nombre del Empleado:</label>
                <input type="text" id="nombreEmpleado" name="nombreEmpleado" required>
            </div>
            
        </div>

        <!-- Tercera columna (Período y Atentamente) -->
        <div class="column">
            <div class="form-group">
                <label for="periodo">Período:</label>
                <input type="text" id="periodo" name="periodo" required>
            </div>
            <!-- Campo de firma opcional -->
            <div class="form-group">
                <label for="firma">Firma (opcional):</label>
                <input type="file" id="firma" name="firma" accept="image/*" onchange="previewFirma()">
                <img id="preview-firma" src="#" alt="Vista previa de la firma" style="display: none; width: 150px; height: 150px;">
            </div>
        </div>
    </div>

    <div class="table-container">
        <button type="button" class="btn-agregar" onclick="agregarFila()">Agregar Incidencia</button>
        <table class="Table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Hora</th>
                    <th>Incidencia</th>
                </tr>
            </thead>
            <tbody id="tbodyIncidencias">
                <!-- Las filas se añadirán aquí dinámicamente -->
            </tbody>
        </table>
    </div>
    <button class="btn-pequeño" id="boton-hecho" onclick="hecho()">Descargar PDF</button> 
    <button class="btn-pequeño" id="boton-correo" onclick="enviarCorreo()">Enviar Correo</button>
  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>

    
    <script>
        let firmaBase64 = null; // Para almacenar la firma convertida a base64
        let contadorFilas = 0;

        document.addEventListener('DOMContentLoaded', function() {
            agregarFila(); // Agrega una fila cuando la página se carga
        });
    
        function agregarFila() {
            if (contadorFilas >= 10) {
                alert("No puedes agregar más de 10 incidencias.");
                return;
            }
    
            contadorFilas++;
            const tbody = document.getElementById('tbodyIncidencias');
            const nuevaFila = tbody.insertRow();
            const celdaNumero = nuevaFila.insertCell(0);
            const celdaFecha = nuevaFila.insertCell(1);
            const celdaNombre = nuevaFila.insertCell(2);
            const celdaHora = nuevaFila.insertCell(3);
            const celdaIncidencia = nuevaFila.insertCell(4);
    
            celdaNumero.textContent = contadorFilas;
            celdaNumero.className = 'hover-effect';
            celdaNumero.onclick = function() { eliminarFila(this.parentNode.rowIndex - 1); };
    
            celdaFecha.innerHTML = '<input type="date" name="fecha[]" >'; // Valor predeterminado
            celdaNombre.innerHTML = '<input type="text" name="nombre[]">'; // Valor predeterminado
            celdaHora.innerHTML = '<input type="time" name="hora[]" >'; // Valor predeterminado
            celdaIncidencia.innerHTML = '<input type="text" name="incidencia[]" >'; // Valor predeterminado
        }
    
        function eliminarFila(rowIndex) {
            document.getElementById('tbodyIncidencias').deleteRow(rowIndex);
            contadorFilas--;
            actualizarNumeracion();
        }
    
        function actualizarNumeracion() {
            const rows = document.querySelectorAll('#tbodyIncidencias tr td:first-child');
            rows.forEach((td, index) => {
                td.textContent = index + 1;
            });
        }

        
        
        function previewFirma() {
            const input = document.getElementById('firma');
            const preview = document.getElementById('preview-firma');
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                    firmaBase64 = e.target.result; // Guarda la firma en formato base64
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        async function hecho() {
            try {
                const { jsPDF } = window.jspdf;
                const doc = new jsPDF();
                doc.setFont("Arial");
                doc.setFontSize(10);
        
                // Cargar imágenes dinámicamente
                const headerImageUrl = document.body.getAttribute('data-header-image');
                const footerImageUrl = document.body.getAttribute('data-footer-image');
                const headerImgData = await loadImageAsBase64(headerImageUrl);
                const footerImgData = await loadImageAsBase64(footerImageUrl);
        
                // Agregar el encabezado y el pie de página en cada página
                doc.addImage(headerImgData, 'PNG', 10, 10, 190, 30);
                doc.addImage(footerImgData, 'PNG', 10, 250, 190, 30);
        
                // Información del formulario
                const introduccion = "Por este medio le saludo cordialmente, asimismo conforme al Artículo 80º, del inciso a) y Artículo 25º Fracción II del Reglamento de las Condiciones Generales del Trabajo el Personal de la Secretaría de Educación Pública, le informo el reporte de asistencia, generado por el sistema de control y registro en el que se detectaron las siguientes incidencias:";
                const asunto = document.getElementById('asunto').value;
                const nombreEmpleado = document.getElementById('nombreEmpleado').value;
                const descfinal= "De acuerdo a lo previsto en el Artículo 83º del Reglamento de las Condiciones Generales del Trabajo el Personal de la Secretaría de Educación Pública, cuenta con un término de 10 días hábiles contados a partir de la recepción de la presente notificación, para presentar el documento probatorio de la justificación de las incidencias antes descritas, de lo contrario será acreedor a lo dispuesto en el Artículo 80º.";
                const periodo = document.getElementById('periodo').value;
                
                // Agregar texto al documento
                const fechaActual = new Date().toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' });
                doc.text(`San Juan Bautista Tuxtepec, Oaxaca a: ${fechaActual}`, 108, 40);
                doc.text(`Asunto: ${asunto}`, 136, 50);
                doc.text(` ${nombreEmpleado}`, 20, 55);
                doc.text(`PRESENTE`, 20, 60);
        
                // Descripción o Introducción
                const lines = doc.splitTextToSize(introduccion, 170);
                let currentY = 65 + 5; // Agregar 5 puntos después de "PRESENTE"
                doc.text(lines, 20, currentY);
        
                doc.text(`PERIODO:          ${periodo}`, 60, 85);
        
                // Posición inicial de la tabla después de "PERIODO" más 5 puntos de espacio
                let tableStartY = currentY + 20;
        
                // Agregar la tabla
                /*
                doc.autoTable({
                    startY: tableStartY,
                    head: [['N°', 'Fecha', 'Nombre', 'Hora', 'Incidencia']],
                    body: Array.from(document.getElementById('tbodyIncidencias').rows).map((row, index) => ([
                        index + 1,
                        row.cells[1].querySelector('input').value,
                        row.cells[2].querySelector('input').value,
                        row.cells[3].querySelector('input').value,
                        row.cells[4].querySelector('input').value
                    ])),
                });*/
                doc.autoTable({
                    startY: tableStartY,
                    head: [['N°', 'Fecha', 'Nombre', 'Hora', 'Incidencia']],
                    body: Array.from(document.getElementById('tbodyIncidencias').rows).map((row, index) => ([
                        index + 1,
                        row.cells[1].querySelector('input').value,
                        row.cells[2].querySelector('input').value,
                        row.cells[3].querySelector('input').value,
                        row.cells[4].querySelector('input').value
                    ])),
                    headStyles: {
                        fillColor: [255, 255, 255], // Fondo blanco para el encabezado
                        textColor: [0, 0, 0], // Texto negro para el encabezado
                        lineColor: [0, 0, 0], // Líneas negras para el encabezado
                        lineWidth: 0.5 // Grosor de las líneas
                    },
                    bodyStyles: {
                        fillColor: [255, 255, 255], // Fondo blanco para el cuerpo
                        textColor: [0, 0, 0], // Texto negro para el cuerpo
                        lineColor: [0, 0, 0], // Líneas negras para el cuerpo
                        lineWidth: 0.5 // Grosor de las líneas
                    }
                });
                
        
                // Añadir la firma, si está presente
                if (firmaBase64) {
                    let y = doc.lastAutoTable.finalY + 10;
                    doc.addImage(firmaBase64, 'PNG', 15, y, 40, 30);
                }
                
                const pageWidth = 210; // Ancho del documento A4 en mm
        const leftMargin = 20; // Margen izquierdo en mm
        const usableWidth = pageWidth - 2 * leftMargin; // Ancho utilizable

        // Textos que queremos centrar
        const atentamenteText = "ATENTAMENTE";
        const recursosHumanosText = "Recursos Humanos";

        // Calcular la posición X para centrar el texto
        const atentamenteTextWidth = doc.getStringUnitWidth(atentamenteText) * doc.internal.getFontSize() / doc.internal.scaleFactor;
        const recursosHumanosTextWidth = doc.getStringUnitWidth(recursosHumanosText) * doc.internal.getFontSize() / doc.internal.scaleFactor;

        const atentamenteX = (pageWidth - atentamenteTextWidth) / 2; // X position for centered text
        const recursosHumanosX = (pageWidth - recursosHumanosTextWidth) / 2; // X position for centered text

        const lines1 = doc.splitTextToSize(descfinal, 170);
         doc.text(lines1, 20, 180);

        doc.text(atentamenteText, atentamenteX, 240);
        doc.text(recursosHumanosText, recursosHumanosX, 245);

        
                // Guardar el PDF
                doc.save('Notificacion_de_Incidencias.pdf');
            } catch (error) {
                console.error("Error al generar el PDF: ", error);
                alert("Hubo un problema al generar el PDF. Por favor, inténtelo de nuevo.");
            }
        }
        
        
        
        // Función para cargar una imagen y convertirla a base64
        function loadImageAsBase64(url) {
            return new Promise((resolve, reject) => {
                const xhr = new XMLHttpRequest();
                xhr.onload = function() {
                    const reader = new FileReader();
                    reader.onloadend = function() {
                        resolve(reader.result);
                    };
                    reader.readAsDataURL(xhr.response);
                };
                xhr.onerror = reject;
                xhr.open('GET', url);
                xhr.responseType = 'blob';
                xhr.send();
            });
        }
        </script>
        <script>
            async function enviarCorreo() {
                try {
                    // Obtener el valor del asunto
                    const asunto = document.getElementById('asunto').value;
            
                    // Generar el PDF
                    const pdfData = await generarPDF();
            
                    // Crear un objeto Blob con los datos del PDF
                    const pdfBlob = new Blob([pdfData], { type: 'application/pdf' });
            
                    // Crear un objeto URL para el PDF
                    const pdfUrl = URL.createObjectURL(pdfBlob);
            
                    // Construir el enlace 'mailto' con el asunto y el PDF adjunto
                    const mailtoLink = `mailto:?subject=${encodeURIComponent(asunto)}&body=Adjunto%20encontrarás%20la%20notificación%20de%20incidencias.&attach=${pdfUrl}`;
            
                    // Abrir el cliente de correo electrónico predeterminado
                    window.open(mailtoLink);
                } catch (error) {
                    console.error("Error al generar el PDF y enviar el correo: ", error);
                    alert("Hubo un problema al generar el PDF y enviar el correo. Por favor, inténtelo de nuevo.");
                }
            }
            
        
            function generarPDF() {
                return new Promise((resolve, reject) => {
                    try {
                        const { jsPDF } = window.jspdf;
                        const doc = new jsPDF();
                        doc.setFont("Arial");
                        doc.setFontSize(10);
                        
                        // Información del formulario
                        const asunto = document.getElementById('asunto').value;
                        const nombreEmpleado = document.getElementById('nombreEmpleado').value;
                        const periodo = document.getElementById('periodo').value;
                        const introduccion = "Por este medio le saludo cordialmente, asimismo conforme al Artículo 80º, del inciso a) y Artículo 25º Fracción II del Reglamento de las Condiciones Generales del Trabajo el Personal de la Secretaría de Educación Pública, le informo el reporte de asistencia, generado por el sistema de control y registro en el que se detectaron las siguientes incidencias:";
                        const descfinal= "De acuerdo a lo previsto en el Artículo 83º del Reglamento de las Condiciones Generales del Trabajo el Personal de la Secretaría de Educación Pública, cuenta con un término de 10 días hábiles contados a partir de la recepción de la presente notificación, para presentar el documento probatorio de la justificación de las incidencias antes descritas, de lo contrario será acreedor a lo dispuesto en el Artículo 80º.";
                        
                        // Agregar texto al documento
                        const fechaActual = new Date().toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' });
                        doc.text(`San Juan Bautista Tuxtepec, Oaxaca a: ${fechaActual}`, 108, 40);
                        doc.text(`Asunto: ${asunto}`, 136, 50);
                        doc.text(` ${nombreEmpleado}`, 20, 55);
                        doc.text(`PRESENTE`, 20, 60);
                    
                        // Descripción o Introducción
                        const lines = doc.splitTextToSize(introduccion, 170);
                        let currentY = 65 + 5; // Agregar 5 puntos después de "PRESENTE"
                        doc.text(lines, 20, currentY);
                    
                        doc.text(`PERIODO:          ${periodo}`, 60, 85);
                    
                        // Posición inicial de la tabla después de "PERIODO" más 5 puntos de espacio
                        let tableStartY = currentY + 20;
                    
                        // Agregar la tabla
                        doc.autoTable({
                            startY: tableStartY,
                            head: [['N°', 'Fecha', 'Nombre', 'Hora', 'Incidencia']],
                            body: Array.from(document.getElementById('tbodyIncidencias').rows).map((row, index) => ([
                                index + 1,
                                row.cells[1].querySelector('input').value,
                                row.cells[2].querySelector('input').value,
                                row.cells[3].querySelector('input').value,
                                row.cells[4].querySelector('input').value
                            ])),
                            headStyles: {
                                fillColor: [255, 255, 255], // Fondo blanco para el encabezado
                                textColor: [0, 0, 0], // Texto negro para el encabezado
                                lineColor: [0, 0, 0], // Líneas negras para el encabezado
                                lineWidth: 0.5 // Grosor de las líneas
                            },
                            bodyStyles: {
                                fillColor: [255, 255, 255], // Fondo blanco para el cuerpo
                                textColor: [0, 0, 0], // Texto negro para el cuerpo
                                lineColor: [0, 0, 0], // Líneas negras para el cuerpo
                                lineWidth: 0.5 // Grosor de las líneas
                            }
                        });
                        
                    
                        // Añadir la firma, si está presente
                        if (firmaBase64) {
                            let y = 205;
                            doc.addImage(firmaBase64, 'PNG', 85, y, 40, 30);
                        }
                        
                        const pageWidth = 210; // Ancho del documento A4 en mm
                        const leftMargin = 20; // Margen izquierdo en mm
                        const usableWidth = pageWidth - 2 * leftMargin; // Ancho utilizable
            
                        // Textos que queremos centrar
                        const atentamenteText = "ATENTAMENTE";
                        const recursosHumanosText = "Recursos Humanos";
            
                        // Calcular la posición X para centrar el texto
                        const atentamenteTextWidth = doc.getStringUnitWidth(atentamenteText) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                        const recursosHumanosTextWidth = doc.getStringUnitWidth(recursosHumanosText) * doc.internal.getFontSize() / doc.internal.scaleFactor;
            
                        const atentamenteX = (pageWidth - atentamenteTextWidth) / 2; // X position for centered text
                        const recursosHumanosX = (pageWidth - recursosHumanosTextWidth) / 2; // X position for centered text
            
                        const lines1 = doc.splitTextToSize(descfinal, 170);
                        doc.text(lines1, 20, 180);
            
                        doc.text(atentamenteText, atentamenteX, 240);
                        doc.text(recursosHumanosText, recursosHumanosX, 245);
                        
                        // Generar el PDF y resolver la promesa
                        resolve(doc.output('bloburl'));
                    } catch (error) {
                        // Rechazar la promesa en caso de error
                        reject(error);
                    }
                });
            }
            
        </script>
        
        

</body>
</html>
