<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Checador</title>
  <link rel="stylesheet" id="menuStyle" href="{{ url_for('static', filename='css/menu-grande.css') }}">
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous">
  </script>
</head>
<body>
  <!--Menu Lateral-->
  <div class="sidebar">
    <div class="top-section">
      <div class="left-side">
        <img src="{{ url_for('static', filename='iconos/logo1.png') }}" alt="logo1" class="logo1">
        <div class="brand-text">TECNM</div>
      </div>
      <div class="right-side">
        <div class="ittux-text">TUXTEPEC</div>
        <img src="{{ url_for('static', filename='iconos/logo2.png') }}" alt="logo2" class="logo2">
      </div>
    </div>
    <div class="bottom-section">
      <button class="btn-menu" id="btnArchivos" ><img id="menu1" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_archi.png') }}"" alt="">Archivos</button>
      <button class="btn-menu" id="btnCatalogos"><img id="menu2" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_catalo.png') }}" alt="">Catálogos</button>
      <button class="btn-menu"  id="btnReportes"><img id="menu3" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_repor.png') }}" alt="">Reportes</button>
      <button class="btn-menu" id="btnSeguridad"><img id="menu4" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_segur.png') }}" alt="">Seguridad</button>
      <button class="btn-menu" id="btnMant"><img id="menu5" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_manten.png') }}" alt="">Mantenimiento</button>
      <button class="btn-menu" id="btnDiasF"><img id="menu6" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_df.png') }}" alt="">Días Festivos</button>
      <button class="btn-menu" id="btnAvisos" ><img id="menu7" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_aviso.png') }}" alt="">Avisos</button>
      <button class="btn-menu" id="btnRed"><img id="menu8" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_red.png') }}" alt="">Red</button>
      <button class="btn-salir"><img id="menu9" class="iconmenu" src="{{ url_for('static', filename='iconos/icon_salir.png') }}" alt="">Salir</button>
    
      <div class="div-sidebar"><button class="btn-sidebar"><img id="menudisplay" src="{{ url_for('static', filename='iconos/doublearrow.svg') }}" alt=""></button></div>
    </div>
  </div>
  <!--Encabezado-->
  <div class="header">
    <button class="btn-header" id="b1" onclick="loadChecador()"><img id="b1i" src="{{ url_for('static', filename='iconos/check.png') }}"  alt="">Checador</button>
    <button class="btn-header" id="b2" onclick="loadEmpleados()"><img id="b2i" src="{{ url_for('static', filename='iconos/more.png') }}"  alt="">Agregar empleado</button>
    <!-- Contenedor para #info y #perfil -->
    <div id="infoPerfilContainer">
      <img src="{{ url_for('static', filename='iconos/btn-interrogacion.png') }}" id="info"alt="info">
      <img src="{{ url_for('static', filename='iconos/btn-perfil.png') }}" id="perfil"alt="perfil">
    </div>
  </div>
<!--Contenido donde se muestran las ventanas-->
  <div class="content">
    <!-- Contenido principal de la página -->
    <!-- Se inserta div Dinamico dependiendo la seleccion del menu -->
    <iframe class="frameprincipal" id="contenido" src="">
    </iframe>
    <div class="footer">
      <div class="content-footer">
        <div class="instituto-footer">
          <h2>TECNM CAMPUS TUXTEPEC</h2>
        </div>
        <div class="fecha-footer">
          <p class="parrafo-fecha">12 DE MARZO DE 2024</p>
          <p class="parrafo-hora">8:31</p>
        </div>
      </div>
    </div>
  </div>


</div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Función genérica para crear submenús
      function crearSubMenu(btnId, opciones) {
        var boton = document.getElementById(btnId);
        var submenu = document.createElement('div');
        submenu.classList.add('submenu');
    
        opciones.forEach(function(opcion) {
          var opcionElement = document.createElement('button');
          opcionElement.textContent = opcion.nombre;
          opcionElement.classList.add('submenu-option');
          opcionElement.addEventListener('click', function() {
            document.getElementById('contenido').src = opcion.url;
          });
          submenu.appendChild(opcionElement);
        });
    
        document.body.appendChild(submenu);
    
        boton.addEventListener('click', function() {
          submenu.classList.toggle('show');
          var rect = boton.getBoundingClientRect();
          submenu.style.top = rect.top + 'px';
          submenu.style.left = rect.right + 'px';
        });
    
        submenu.addEventListener('mouseleave', function() {
          submenu.classList.remove('show');
        });
      }
    
      // Crear submenús para cada botón

      crearSubMenu('btnArchivos', [
      { nombre: 'Institución', url: '{{ url_for("frameReporteAsistencia") }}' },
      { nombre: 'Empresa', url: '{{ url_for("frameReporteAsistencia") }}' },
      
      { nombre: 'Enviar Incidencias', url: '{{ url_for("incidenciacorreo") }}' },
     
      // Agrega más opciones aquí
    ]);

    var botonAvisos = document.getElementById('btnAvisos');
    botonAvisos.addEventListener('click', function() {
      document.getElementById('contenido').src = '{{ url_for("frameReporteAsistencia") }}';
    });

      crearSubMenu('btnCatalogos', [
    { nombre: 'Departamento', url: '{{ url_for("frameReporteAsistencia") }}' },
    { nombre: 'Horarios', url: '{{ url_for("framehorario") }}' },
    { nombre: 'Incidencias', url: '{{ url_for("frameReportes") }}' },
    { nombre: 'Puestos', url: '{{ url_for("frameReportes") }}' },
  ]);
     
  
  crearSubMenu('btnReportes', [
        { nombre: 'Checador', url: '{{ url_for("checador") }}' },
        { nombre: 'Asistencia', url: '{{ url_for("frameReporteAsistencia") }}' },
        { nombre: 'Empleados', url: '{{ url_for("frameReporteEmpleado") }}' },
        { nombre: 'Horarios', url: '{{ url_for("frameReporteHorario") }}' },
       
        // Agrega más opciones aquí
      ]);
    
      crearSubMenu('btnSeguridad', [
        { nombre: 'Seguridad 1', url: '#urlSeguridad1' },
        { nombre: 'Seguridad 2', url: '#urlSeguridad2' },
        // Agrega más opciones aquí
      ]);
    
     

      // Repite el proceso para los demás botones (btnMant, btnDiasF, btnAvisos, btnRed)
      // Agregando las opciones correspondientes para cada uno


      //AQUI TERMINA LA PARTE DEL SCRIPT DEL SUBMENU, NO BORRAR ESTE MENSAJE POR PRECAUCION
    });


  document.addEventListener('DOMContentLoaded', function() {
    var boton = document.querySelector('.btn-sidebar'); // Selecciona el botón por su clase
    boton.addEventListener('click', function() {
      var link = document.getElementById('menuStyle'); // Selecciona la etiqueta link por su id
      var textElements = document.querySelectorAll('.sidebar .brand-text, .sidebar .ittux-text'); // Selecciona los textos a ocultar en el sidebar

      if (link.getAttribute('href') === "{{ url_for('static', filename='css/menu-grande.css') }}") {
        link.setAttribute('href', "{{ url_for('static', filename='css/menu-pequeno.css') }}"); // Cambia al menú pequeño
        textElements.forEach(element => element.classList.add('hide-text')); // Oculta el texto
      } else {
        link.setAttribute('href', "{{ url_for('static', filename='css/menu-grande.css') }}"); // Cambia al menú grande
        textElements.forEach(element => element.classList.remove('hide-text')); // Muestra el texto
      }
    });
  });
  function loadEmpleados(){
     var frame = $('#contenido');
     var url = "{{ url_for('frameEmpleados', filename='empleados.html') }}";
     frame.attr('src',url).show();
 }
 function loadChecador(){
     var frame = $('#contenido');
     var url = "{{ url_for('frameChecador', filename='checador.html') }}";
     frame.attr('src',url).show();
 }
 function loadReportes() {
 
}
document.addEventListener('DOMContentLoaded', function() {
  
});
  </script>

</body>
</html>
